.container {
  margin-left: 4rem;
  margin-right: 4rem;
}

.checkboxes {
  display: flex;
  margin-bottom: 24px;
}

.checkbox {
  display: block;
  border: 1px solid black;
  border-radius: 4px;
  padding: 8px;
  margin: 4px;
  margin-right: 24px;
}

.calendarContainer {
  display: flex;
}

.times {
  margin-top: -8px;
  margin-right: 4px;
  text-align: end;
}

.timesTimeIncrement {
  height: 24px;
}

.timesTimeIncrement:nth-child(4n + 1) {
  /*
  border-top: solid 1px grey;
  */
}

.day {
  border: solid 1px black;
  width: 200px;
  overflow-x: hidden;
}

.dayName {
  position: sticky;
  top: 0;
  z-index: 2;
  opacity: 0.9;
  background-color: white;
}

.timeIncrement {
  display: flex;
  height: 24px;
  background-color: whitesmoke;
}

.timeIncrement:nth-child(4n + 1) {
  border-top: solid 1px darkgrey;
}

.cell {
  flex: 1 1;
  width: 0px;
  height: 100%;
}
