.container {
  margin-left: 4rem;
  margin-right: 4rem;
}

@media (max-width: 600px) {
  .container {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

.checkboxes {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.checkbox {
  display: block;
  border: 1px solid black;
  border-radius: 4px;
  padding: 8px;
  margin: 4px;
  margin-right: 24px;
}

.calendarContainer {
  display: flex;
}

.times {
  margin-top: -8px;
  margin-right: 4px;
  text-align: end;
}

.timeIncrement {
  height: 24px;
}

.day {
  border: solid 1px grey;
  background-color: whitesmoke;
  width: 200px;
  flex-grow: 1;
  overflow-x: hidden;
}

.dayName {
  position: sticky;
  top: 0;
  z-index: 2;
  opacity: 0.9;
  background-color: white;
  border-bottom: 1px solid darkgrey;
}

.dayGymSchedules {
  display: flex;
}

.dayGymSchedule {
  flex: 1 1;
  width: 0px;
}

.dayGymSchedule .timeIncrement:nth-child(4n + 1) {
  border-top: solid 1px darkgrey;
}
