.container {
  margin-left: 4rem;
  margin-right: 4rem;
  display: flex;
}

@media (max-width: 600px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.checkboxes {
  margin-right: 16px;
}

.checkbox {
  display: block;
  border: 1px solid #bbbbbb;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 8px;
}

.times {
  margin-top: -8px;
  margin-right: 4px;
  text-align: end;
}

.timeIncrement {
  height: 24px;
  /*
    border-top: solid 1px darkgrey;
    */
}

.calendarContainer {
  display: flex;
  overflow-x: scroll;
  width: 100%;
}

.day {
  border: solid 1px #969696;
  width: 150px;
  flex-grow: 1;
  flex-shrink: 0;
  /*
  overflow-x: clip;
  */
}

.dayName {
  /*
  position: sticky;
  top: 0;
  ????z-index: 1;
  opacity: 0.9;
  border-bottom: 1px solid #969696;
  */
}

.dayGymSchedules {
  display: flex;
}

.dayGymSchedule {
  flex: 1 1;
  width: 0px;
}

.dayGymSchedule .emptyTimeIncrement.timeIncrement:nth-child(4n + 1) {
  border-top: solid 1px #969696;
}
